Repository ednese/YoutubeWatchParty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylus-supremacy format --options .stylusrc, lus, vitest related --run

Remove useless files
  .firebase/hosting.ZGlzdA.cache
  .firebaserc
  firebase.json
  middleware/redirects.global.ts
  pages/login.vue
  pages/sign-in.vue
Due: eslint --fix, prettier --write, lus, vitest related --run

Remove @nuxtjs/supabase
  nuxt.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, vitest related --run

add Profile
  Profile
  pages/editing.vue
  pages/index.vue
Due: eslint --fix, prettier --write, lus

Use git storage and improve useYoutube composable
  .firebase/hosting.Lm91dHB1dC9wdWJsaWM.cache
  composables/useYoutube.ts
  firebase.json
Due: eslint --fix, prettier --write, vitest related --run

Use local plugin for socket
  .firebase/hosting.Lm91dHB1dC9wdWJsaWM.cache
  Profile
  ecosystem.config.js
  nuxt.config.ts
  package.json
  plugins/socket.ts
  server/middleware/socket.ts
  sockets/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, vitest related --run

Add start command
  package.json
Due: prettier --write

Handle youtube shorts
  composables/useYoutube.ts
Due: eslint --fix, prettier --write, vitest related --run

Create useVideos and useGoogleDrive composables
  components/selectedVideos.vue
  components/videoEditor.vue
  components/watchPartyMenu.vue
  components/youtubeSearch.vue
  composables/useGoogleDrive.ts
  composables/useVideos.ts
  composables/useYoutube.ts
  package.json
  pages/editing.vue
  pages/index.vue
  pages/videos.vue
  server/middleware/socket.ts
  yarn.lock
Due: eslint --fix, prettier --write, lus, vitest related --run

Handle googleDrive videos
  components/selectedVideos.vue
  components/videoEditor.vue
  components/youtubeSearch.vue
  composables/useVideos.ts
  pages/index.vue
  pages/videos.vue
Due: eslint --fix, prettier --write, lus, vitest related --run

Fix google drive issues
  pages/videos.vue
Due: eslint --fix, prettier --write, lus

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{ts,vue,json}
  stylus-supremacy format --options .stylusrc: any of: *.{styl,stylus}
  lus: any of: *.vue
  vitest related --run: any of: *.ts
